.icons {
  font-size: var(--icon-size);

  position: absolute;
  top: 46vh;
  left: 10px;

}

.icons > * {
  display: inline-block;
  position: absolute
}

.top-icon {
  top: calc(-1.9 * var(--icon-size))
  /* top: calc(0.5*var(--icon-size)) */
}

.bottom-icon {
  /* top: calc(-0.5*var(--icon-size)) */
  top: calc(1.8 * var(--icon-size));
  color: rgb(255, 123, 0)
}

.linkedin-link {
  color: #0a66c2;
  left: 3px;
}

.linkedin-logo {
  width: calc(var(--icon-size) - 6px);
}

.github-link {
  left: 0.78px;
  color: moccasin
}

.icons a {
  width: fit-content;
}

.instructions-container {
  font-size: 14px;

  color: white;
  background-color: slategray;

  border-radius: 4px;
  padding: 4px;
  padding-left: 8px;
  width: 165px;

  position: absolute;
  top: 0;
  left: calc(var(--icon-size) + 15px);

  white-space: pre-line;
}

.instructions-container:after {
  content: "";
  position: absolute;
  left: -15px;
  top: 50%;
  transform:translateY(-50%);
  z-index: -1;
 
  /* the arrow */
  border: 8px solid slategray;
  border-color: transparent slategray transparent transparent;

}