.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-form {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 3;   

  width: 50vw;
  height: fit-content;
  background-color: rgb(192, 192, 192);
  border-radius: 10px;
}

.modal-form > * {
  margin: 16px;
}

.is-close {
  display: none;
  z-index: -10;
}

.modal-title {
  color: black;
  width: fit-content;
  margin: 16px auto;
  font-size: 24px;
  font-family: 'Karla', sans-serif;
} 

.intro {
  font-size: 20px;
}

.modal-form a {
  color: blue;
}

.modal-form a:hover {
  text-decoration: underline;
}

sup {
  font-size: 12px;
}

.close-modal {
  padding: 4px 6px;
  border-radius: 4px;
  width: fit-content;
  margin-left: 50%;
  transform: translate(-50%);
  
  font-family: 'Karla', sans-serif;
  background-color: rgb(37, 158, 37);
}

#footnote {
  font-size: 12px;
}

#carrot {
  font-weight: 800;
}