#main-container {
  border: 1px solid black;
  margin: 10px;
  width: 500px;
  height: 500px;
  background-color: black
}

#construction-container {
  border: 1px solid black;
  margin: 10px;
  width: 400px;
  height: 200px;
  background-color: black;
}

.label-container {
  
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;

  display: inline-block;
  height: 9px;
  width: 10px;
  font-size: 8px;
  overflow: visible;
}


