body {
  position: relative;
  width: 100vw;
}



#main-container {
  position: absolute;
  /* top: calc(-1*var(--margin-top)); */

  border: 1px solid;
  width: 100vw;
  height: 100vh;
  /* background-color: white; */
  /* background-image: url("../images/space-galaxy-background.jpg"); */
  background-image: url("../images/space-universe-stars.jpeg");
  background-size: 100% auto;
  background-repeat: no-repeat;

  z-index: -1;
}

.sidebar{
  position: absolute;
  right: 0;
  top: calc(-1*var(--margin-top));

  border: 1px solid black;
  width: 33vw;
  height: 100vh;
  background-color: white;
  z-index: -1;
  background-image: url("../images/wormhole-grid.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

#construction-container {
  width: 100%;
  height: 100%;
}


.label-container {
  
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  letter-spacing: 1px;

  display: inline-block;
  height: 9px;
  width: 10px;
  font-size: 10px;
  font-weight: 400;
  font-weight: bold;
  overflow: visible;
}

.main-nodes > g > circle {
  z-index: 10;
}

.links {
  stroke: rgb(255, 255, 255);
  stroke-opacity: 0.6;
}

.nodes {
  stroke: #fff;
  stroke-width: 1.5;
}

.profile-links {
  width: 30px;
}

.github-link {
  color: white;
}